accelerate>=1.2.1
color-matcher
diffusers>=0.33.0
einops
ftfy
gguf>=0.17.1
imageio-ffmpeg
matplotlib
mss
onnx
onnxruntime-gpu
peft>=0.17.0
pillow>=10.3.0
protobuf
pyloudnorm
scipy
sentencepiece>=0.2.0
taichi>=1.7.4

