accelerate>=1.1.1
decord
diffusers>=0.31.0
easydict
einops
ftfy
gradio>=5.0.0
huggingface_hub[hf_transfer]>=0.24.0
imageio
imageio-ffmpeg
moviepy>=1.0.3
numpy>=1.23.5,<2
opencv-python-headless>=4.9.0.80
pillow>=10.3.0
safetensors
sentencepiece>=0.2.0
tokenizers>=0.20.3
tqdm
transformers>=4.49.0
ultralytics==8.4.68

