PORT=8188
LISTEN=0.0.0.0
WORKSPACE_DIR=/workspace/comfyui
MODEL_ROOT=/workspace/comfyui
CONFIG_DIR=/workspace/config
LOG_DIR=/workspace/logs
DOWNLOAD_MODELS=1
DOWNLOAD_JOBS=4
ARIA2_CONNECTIONS=8
ARIA2_SPLITS=8
FORCE_PINNED_NODES=1
HF_TOKEN={{ RUNPOD_SECRET_HF_TOKEN }}
COMFYUI_ARGS=--reserve-vram 3
